body {
    color: #fcfbfb;
    margin: 0;
}

header {
    display: flex;
    height: 40px;
    justify-content: space-between;
    border-bottom: 1px solid #e5e5e5;
    padding: 5px 20px;
}

header h1 {
    margin: 0;
    color: #505050;
}

@media (min-width: 675px) {
    .navigation {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .navigation ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
    }

    .navigation li {
        width: 60px;
        text-align: center;
    }

    .navigation a {
        color: #505050;
        text-decoration: none;
    }

    .navigation a:hover {
        text-decoration: underline;

    }
    .navigation a:focus {
        font-weight: 900;
        text-decoration: underline;
    }

    .mobile-hamburger {
        display: none;
    }

    .mobile-navigation {
        display: none;
    }
}

@media (max-width: 675px) {
    .navigation {
        display: none;
    }

    .mobile-navigation {
        position: fixed;
        top: 0;
        right: 0;
        width: 60%;
        background: #fcfbfb;
        height: 100vh;
        transition: transform 0.3s;
        transform: translateX(100%);
        z-index: 1;
        box-shadow: 2px 0 6px 0 #333;
    }

    .mobile-hamburger {
        position: fixed;
        right: 0;
        margin: 10px 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 2;
    }

    .mobile-navigation.active {
        transform: translateX(0);
    }

    .mobile-navigation ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        margin: 50px 0;
        padding: 0;
    }

    .mobile-navigation li {
        height: 45px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .mobile-navigation li.active {
        background: #e8e8e8;
    }

    .mobile-navigation a {
        color: #505050;
        text-decoration: none;
        padding: 0 20px;
    }

    .mobile-hamburger .bar {
        margin: 2px 0;
        width: 20px;
        border: 1px solid #505050;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
        transform-origin: center;
    }

    #dummy {
        position: absolute;
        right: -7px;
        width: 30px;
        height: 20px;
        opacity: 0;
        z-index: 3;
    }

    #dummy:checked ~ .b1 {
        transform: translate(0px, 6px) rotate(45deg);
    }

    #dummy:checked ~ .b2 {
        opacity: 0;
    }

    #dummy:checked ~ .b3 {
        transform: translate(0px, -6px) rotate(-45deg);
    }
}