body {
    background: #151723;
    color: #fcfbfb;
}

header {
    display: flex;
    justify-content: space-between;
}

header h1 {
    margin: 0;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav li {
    margin-left: 10px;
}

.mobile-hamburger {
    display: none;
}

@media (max-width: 675px) {
    nav {
        display: none;
    }

    .mobile-hamburger {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .mobile-hamburger .bar {
        margin: 2px 0;
        width: 20px;
        border: 1px solid #fcfbfb;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
        transform-origin: center;
    }

    #dummy {
        position: absolute;
        right: 6px;
        width: 20px;
        height: 20px;
        opacity: 0;
        z-index: 2;
    }

    #dummy:checked ~ .b1 {
        transform: translate(0px, 6px) rotate(45deg);
    }
    #dummy:checked ~ .b2 {
        opacity: 0;
    }
    #dummy:checked ~ .b3 {
        transform: translate(0px, -6px) rotate(-45deg);

    }
}