body {
    background: #252525;
    color: #fcfbfb;
    margin: 0;
    padding: 5px 5px;
}

header {
    display: flex;
    justify-content: space-between;
}

header h1 {
    margin: 0;
}

@media (min-width: 675px) {
    .navigation {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .navigation ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
    }

    .navigation li {
        margin-left: 10px;
    }

    .navigation a {
        color: inherit;
        text-decoration: none;
    }

    .mobile-navigation {
        display: none;
    }
}

@media (max-width: 675px) {
    .navigation {
        display: none;
    }

    .mobile-navigation {
        position: fixed;
        right: 0;
        top: 0;
        width: 50%;
        background: #333;
        height: 100vh;
    }

    .mobile-hamburger {
        position: fixed;
        right: 0;
        margin: 10px 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .mobile-navigation ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        margin: 35px 0;
        padding: 0;
    }

    .mobile-navigation li {
        height: 35px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .mobile-navigation li:focus {
        background: #484848;
    }

    .mobile-navigation li.active {
        background: #484848;
    }

    .mobile-navigation a {
        color: inherit;
        text-decoration: none;
        padding: 0 20px;
    }

    .mobile-hamburger .bar {
        margin: 2px 0;
        width: 20px;
        border: 1px solid #fcfbfb;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
        transform-origin: center;
    }

    #dummy {
        position: absolute;
        right: 6px;
        width: 20px;
        height: 20px;
        opacity: 0;
        z-index: 2;
    }

    #dummy:checked ~ .b1 {
        transform: translate(0px, 6px) rotate(45deg);
    }
    #dummy:checked ~ .b2 {
        opacity: 0;
    }
    #dummy:checked ~ .b3 {
        transform: translate(0px, -6px) rotate(-45deg);
    }
}